.message-container {
  display: flex;
  flex-direction: column;
  border: 0.5px solid #e7e7e7;
  padding: 16px;
  border-radius: 8px;
  margin: 10px 10px 0;
  background: white;
}

.header-right {
  margin-left: 16px;
}

.message-header {
  display: flex;
  align-items: center;
}

.author-from {
  color: #6a6a6a;
  font-size: 14px;
}

.author-name {
  color: #4a4a4a;
  font-size: 17px;
  font-weight: bold;
}

.more-icon-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.more-icon {
  color: #999999;
}

.message-body > p {
  font-size: 16px;
}

.empty-list {
  color: #9b9b9b;
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

.message-payload {
  padding-top: 10px;
}

.payload-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #4a4a4a;
  font-weight: 500;
}

.payload-content {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: #4a4a4a;
}

.icon {
  margin-right: 16px;
}
