.message-container {
  display: flex;
  flex-direction: column;
  border: 0.5px solid #e7e7e7;
  padding: 16px;
  border-radius: 8px;
  margin: 10px 10px 0;
  background: white;
}

.header-right {
  margin-left: 16px;
}

.message-header {
  display: flex;
  align-items: center;
}

.author-from {
  color: #6a6a6a;
  font-size: 14px;
}

.author-name {
  color: #4a4a4a;
  font-size: 17px;
  font-weight: bold;
}

.more-icon-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.more-icon {
  color: #757575;
}

.message-body > p {
  font-size: 16px;
}

.empty-list {
  color: #dddddd;
  text-align: center;
  padding: 30px;
  font-size: 14px;
}
